{{#extend '_h5bp-layout' title='Главная'}}
  {{#content 'main'}}
    <div class="container">
      <div class="row">
        {{#each persons}}
          <div class="musician clearfix">
            {{#if_even @index}}
              <div class="col-md-6">
                <h2>{{name}}</h2>
                <p>{{about}}</p>
              </div>
              <div class="col-md-6">
                <img src="{{photo_url}}" class="img-responsive padding-10" />
              </div>
            {{else}}
              <div class="col-md-6 visible-md visible-lg">
                <img src="{{photo_url}}" class="img-responsive padding-10" />
              </div>
              <div class="col-md-6">
                <h2>{{name}}</h2>
                <p>{{about}}</p>
              </div>
              <div class="col-md-6 hidden-md hidden-lg">
                <img src="{{photo_url}}" class="img-responsive padding-10" />
              </div>
            {{/if_even}}
          </div>
        {{/each}}
      </div>
      <hr>      
    </div>
  {{/content}}
{{/extend}}
